*{
    margin: 0;
    padding: 0;
    outline: 0;
}
h3{
	text-align:center;
}

.painter{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	
    
}
#paint{
    border: 4px dotted #212121;
	background: rgb(168,251,63);

}
